<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Silence everything by default -->
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Enable application logs -->
  <logger name="agent-intergraph" level="INFO"/>
</configuration>